#img_Rishikesh{
	width:40%;
	height: 40%;
}
#div_r1c2{
	/*background-color: white; 	*/		/*Does not make any effect in presence of bg-img*/
	height: 768px;
	/*background-image: url("../img/green_sight.jpg");*/
	/*opacity: 0.3;*/
}
#name{
	color:gray;
}
#span_timer{
	color:gray;
	font-weight: bold;
}
/*#p_intro1{
	font-family: sans-serif;
	font-weight: bold;
	font-style: all;
	color:white;
}*/
/*#p_intro1 h4{
	color:white;
}*/
/*#p_intro2{
	font-family: sans-serif;
	font-weight: bold;
	font-style: all;
	color:green;
}*/
body{
	background-image: url('../img/respected_abraham_lincoln.jpg');
	opacity: 0.9;
}
.prettyprint{
	background-color: white;
}

/*#div_r1c2{
	background-color: navy;
}*/

#name,#email,#mobile_number,#college,#passout_year,#branch{
	text-align: left;
}
#email,#mobile_number,#college,#passout_year,#branch{
	font-family: tahoma;
	font-weight: bold; 
}
#email,#mobile_number{
	color:navy;
}
/*#div_basic_info{
	background-image: url('../img/logo.jpg');
	float: right;
	background-repeat: no-repeat;
}*/
td,th{
	text-align: left;
	font-family: tahoma;
	font-weight: bold;

}
tr:hover{
background-color: hotpink;
}
th{
	background-color: lightblue;
	font-size: 20px;
	color:navy;
}
tr{
	background-color: #f0fff0;
}
#a_github,#a_gitlab,#a_hackerearth{
	text-decoration: none;
}