body{
	background-image: url("../img/2560x1600bg.jpg");
	/*background-image: url("../img/black_river.jpg");*/
/*background-image: url("../img/for_loops_2017_02_04_at_5_31_25_PM.png");
	*/opacity: 1.0;
/*background-repeat: no-repeat;*/
}
/*timer*/
#span_timer{
	color:lightgreen;
	font-weight: bold;
}

#div_r1c2{
	/*background-color: white; 	*/		/*Does not make any effect in presence of bg-img*/
	height: 768px;
	/*background-image: url("../img/green_sight.jpg");*/
	/*opacity: 0.3;*/
}

#div_r1c1{
	background-color: #4412AB; 			/*Does not make any effect in presence of bg-img*/
	/*height: 768px;*/
	/*background-image: url("../img/railway_track.jpg");*/
	/*opacity: 0.5;*/
	padding-bottom: 0px;
	margin-bottom: 0px;
}

img{

	width: 100%;

}
img#img_Guido{
	width: 30%;
}

#div_guido_info{
	font-family: sans-serif;
	font-weight: bold;
	color: gray;
}

#h5_try_text{
	color:black;
}

pre code{
	color:gray;
	font-family: sans-serif;
	font-size: 20px;
}
pre{
	background-color: white;
}
/*
@media only screen and (max-width: 768px){
	#code_for_loop{
		font-size: 10px;
		color:lightgreen;
		font-family: tahoma;
	}
}*/

#h3_output,#h3_code{
	color:white;
}

.heading{
	color:white;
}

/*#list-group li:nth-child(even){
	font-weight: bold;
	font-family: tahoma;
	background-color:gray;
	color:#2e4053;
	border:0px;
}
#list-group li:nth-child(even):hover{
	background-color: gray;/*#f8f9f9;*/
/*	color:#283747;
	border:0px;
}
#list-group li:nth-child(odd){
	font-weight: bold;
	font-family: tahoma;
	background-color:#5d6d7e ;
	color:white;
	border:0px;
}
#list-group li:nth-child(odd):hover{
	background-color:#d9d9d9;/*#f8f9f9;*/
/*	color:black;
	border:0px;
}*/

a{
	display:none;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
	font-family: tahoma;
}
.p_desc_text{
	color:#555555;
	font-weight: bold;
	font-family: tahoma;
}