body{
	background-image: url("../img/black_river.jpg");
	opacity: 1.0;
}
/*timer*/
#span_timer{
	color:lightgreen;
	font-weight: bold;
}

#div_r1c2{
	/*background-color: #4412AB;*/ 			/*Does not make any effect in presence of bg-img*/
	height: 768px;
	/*background-image: url("../img/green_sight.jpg");*/
	/*opacity: 0.3;*/
}

#div_r1c1{
	/*background-color: #4412AB;*/ 			/*Does not make any effect in presence of bg-img*/
	height: 768px;
	/*background-image: url("../img/railway_track.jpg");*/
	/*opacity: 0.5;*/
}

img{

	width: 30%;

}

#div_guido_info{
	font-family: sans-serif;
	font-weight: bold;
	color: gray;
}

#h5_try_text{
	color:black;
}

pre code{
	color:darkgreen;
	font-family: sans-serif;
}
pre{
	margin-right: 100px;
	margin-left: 100px ;
}
