.index-detail-image {
    width: 100%;
}

.index-gap {
    margin-top: 20px;
    margin-bottom: 20px;
}


.index-company-image {
    max-height: 135px;
    min-height: 135px;
}

.card {
    min-height: 375px;
}


@media only screen and (max-width: 600px){
    .index-company-image {
        max-height: 160px;
        min-height: 160px;
    }
}