.index-detail-image {
    width: 100%;
}

.index-gap {
    margin-top: 25px;
    margin-bottom: 25px;
}


.index-company-image {
    max-height: 135px;
    min-height: 135px;
}

.card {
    min-height: 375px;
}


.card:hover {
    border: 0.4px solid gray; 
    box-shadow:  5px 10px 18px #e6e6e6;
    font-family: 'Poppins', sans-serif;


}


@media only screen and (max-width: 600px){
    .index-company-image {
        max-height: 160px;
        min-height: 160px;
    }

    .index-heading {
        font-size: 30px;
    }
}

* {
    font-family: tahoma;
    /*font-family: 'Poppins', sans-serif;*/
}

.index-heading {
    font-family: serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

.footer-up {
    /*color: white;*/
    background:#4d4d4d;
    min-height: 400px; 
    padding: 10px
}


.footer-up * {
    color: white
}

.footer-up i {
    color: #f2f2f2;
}
.footer-down {
    color: white;
    background:#262626; min-height: 60px
}

.footer-detail {
    padding: 10px;
}