#login-img {
	width: 20%; 
	height: 20%;
	animation-duration: 4s;
	/*visibility: hidden;*/
}

input[type='checkbox'], #login-span-rem {
    cursor: pointer;
}

.login-swicth-link {
	font-size: 12px;
}


i.fa, i.fas {
	color: green;
} 